#cart_panel {
    position: absolute;
    width: 250px;
    height: 50px;
    left: 255px;
    top: 0px;
    padding: 0px;
    margin: auto;
}

#cart_panel p, #cart_panel a, #cart_panel span {
    margin: 0px;
    padding: 0px;
}

#cart_panel a {
    background-color: darkorange;
}

#cart_title {
    margin-top: 2px !important;
    margin-left: 8px !important;
    font-size: 13px;
    text-align: left;
}

#cart_info {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

#cart_panel a {
	color: rgba(255, 255, 255, .9) !important;
}
#cart_panel a:hover {
	color: rgb(224, 250, 255) !important;
}

@media (max-width: 768px){
    .hide-768 {display: none;}

    #cart_panel {
        width: calc(100vw - 180px - 250px);
    }
    }

@media (max-width: 500px){

    #cart_panel {
        width: calc(100vw - 250px) !important;
    }
}