{% extends 'tiles.html' %}

{% block title %}Tiles by {{author}}{% endblock %}

{% block tile-footer %}
    <span>
        {% if tile.time_created == tile.last_modified %}
        Created on {{tile.time_created}}
        {% elif tile.is_active %}
        Edited on {{tile.last_modified}} by <a href="{% url 'profile_tiles' username=tile.author %}">{{tile.author}}</a>
        {% else %}
        Deleted on {{tile.last_modified}}
        {% endif %}
    </span>
    <span class="tile-btn-group tile-btn-group-bottom">
        {% if tile.perm_edit %}<a href="{% url 'edit_tile' slug=tile.slug %}">
            <button type="button" class="btn btn-small">
                <i class="fas fa-edit"></i>
            </button>
        </a>{% endif %}
        {% if tile.perm_del %}
            {% if tile.is_active %}
                <a href="{% url 'delete_tile' %}?slug={{tile.slug}}">
                    <button type="button" class="btn btn-small">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </a>
            {% else %}
                <a href="{% url 'delete_tile' %}?slug={{tile.slug}}&recover=y">
                    <button type="button" class="btn btn-small">
                        <i class="fas fa-recycle"></i>
                    </button>
                </a>
            {% endif %}
        {% endif %}
    </span>
{% endblock %}
