#profile_pannel_dropdown {
  position: fixed;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 20px;
  width: 250px;
  margin-left: 250px;
  background: #202020d0;
  height: 50px;
  }
  #profile_pannel_dropdown a {
    text-align: right;
    height: 50px;
    color: #fff;
    display: block;
    padding: 10px 50px 0px 40px;
    background: #ff8c20d0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

#profile_pannel{
  position: fixed;
  z-index: 1;
  height: 236px;
  min-width: 250px;
  max-width: 250px;
  background: #202020d0;
  color: #fff;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  margin-left: 250px;
  top: -250px; }
  #profile_pannel .h6 {
    color: #fff; }
  #profile_pannel.active {
    margin-top: 300px; }
    #profile_pannel.active .profile-menu {
      top: -100px;
      right: 50px;
      transition: 0s;
    }
  #profile_pannel ul.components {
    padding: 0; }
  #profile_pannel ul li {
    font-size: 16px; }
    #profile_pannel ul li > ul {
      margin-left: 20px; }
      #profile_pannel ul li > ul li {
        font-size: 14px; }
    #profile_pannel ul li a {
      padding: 15px 20px;
      display: block;
      color: rgba(255, 255, 255, 0.6);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      text-align: left;}
      #profile_pannel ul li a:hover {
        color: #fff;
        background: #ff8c20d0;
        border-bottom: 1px solid #ff8c20d0; }
    #profile_pannel ul li.active > a {
      background: transparent;
      color: #fff; }
      #profile_pannel ul li.active > a:hover {
        background: #ff8c20d0;
        border-bottom: 1px solid #ff8c20d0; }

  #profile_pannel .profile-menu {
    display: inline-block;
    position: absolute;
    top: 257px;
    right: 50px;
    margin-right: -50px;
    -webkit-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.9s; }
    @media (prefers-reduced-motion: reduce) {
      #profile_pannel .profile-menu {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }
    #profile_pannel .profile-menu .btn.btn-primary {
      background: transparent;
      border-color: transparent; }
      #profile_pannel .profile-menu .btn.btn-primary i {
        color: rgb(255, 255, 255);
        font-size: 24px; }
      #profile_pannel .profile-menu .btn.btn-primary:hover, #profile_pannel .profile-menu .btn.btn-primary:focus {
        background: transparent !important;
        border-color: transparent !important;
        transform: scale(1.1);
        -webkit-transition: transform 0.2s ease-in-out;
        -o-transition: transform 0.2s ease-in-out;
        transition: transform 0.2s ease-in-out;}

@media (max-width: 500px) {
  #profile_pannel_dropdown {
    margin-left: 170px;
  }
  #profile_pannel .profile-menu {
    margin-right: 30px;
  }

}





