{% if user.is_authenticated %}
    <div id="cart_panel">
        <a href="{% url 'cart' %}">
            <div>
                <p id='cart_title'>
                    <span>
                        Your cart:
                    </span>
                    <span class="fas fa-shopping-cart"></span>
                </p>
                <p id='cart_info'>
                    <span id="cart_items">
                        {{ user.orders.all.first.items_total }} items
                    </span>
                    <span>
                        &nbsp;|&nbsp;
                    </span>
                    Total: $
                    <span id="cart_price">{{ user.orders.all.first.end_user_price }}</span>
                </p>
            </div>
        </a>
    </div>
{% endif %}