{% if user.is_authenticated %}
    <div id="cart_panel">
        <a href="{% url 'cart' %}">
            <div>
                <p id='cart_title'>
                    <span>
                        Your shopping cart:&nbsp;&nbsp;&nbsp;
                    </span>
                    <span class="fas fa-shopping-cart"></span>
                </p>
                <p id='cart_info'>
                    <span id="cart_items">{{ request.user.orders.get_latest_current.items_total }}</span> items
                    <span>
                        &nbsp;|&nbsp;
                    </span>
                    Total:
                    <span id="cart_price">{{ request.user.orders.get_latest_current.end_user_price }}</span> $
                </p>
            </div>
        </a>
    </div>
{% endif %}

