{% extends 'glyke_base.html' %}


{% block title %} Your cart {% endblock %}

{% block additional_head %}
{% load static %}
<!-- DataTables CDN -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.colVis.min.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'glyke_back/css/cart.css' %}"/>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
        <div class="row">
          <div class="col-12">
            <h2 class="tm-block-title d-inline-block">Your cart</h2>
          </div>
        </div>
        <div class="row">
            <div class="col-6">
                <form id="cart_form" role="form" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table id="cart_table" class="display cell-border">
                        <thead id="cart_table_thead">
                            <tr>
                                <th class="col-50p-f">#</th>
                                <th class="col-150p-f">Name</th>
                                <th class="col-100p-f">Initial price, $</th>
                                <th class="col-65p-f">Discount, %</th>
                                <th class="col-185p-m">PPP, $</th>
                                <th class="col-65p-f">Quantity</th>
                                <th class="col-65p-f">Total price per item, $</th>
                                <th>delete_btn_row</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order_line in order_lines %}

                            <tr id="cart_row_{{ order_line.line_number }}">
                                <td>{{ order_line.line_number }}</td>
                                <td>{{ order_line.product }}</td>
                                <td>$ {{ order_line.product.selling_price }}</td>
                                <td>{{ order_line.product.discount_percent }} %</td>
                                <td>
                                <span id='product_{{ order_line.product.id }}_end_user_price'>$ {{ order_line.product.end_user_price }}</span>
                                </td>
                                <td>
                                <input type="number" id="quantity_{{ order_line.product.id }}" name="quantity_{{ order_line.product.id }}" value="{{ order_line.quantity }}">
                                </td>
                                <td>
                                <span id='order_line_{{ order_line.line_number }}_end_user_price'>$ {{ order_line.end_user_price }}</span>
                                </td>
                                <td>
                                    <button onclick="delete_cart_row('cart_row_{{ order_line.line_number }}')" type="button" class=""><i class="fas fa-times"></i></button>
                                </td>

                                <input type="hidden" id="products_id" name="products_id" value="{{ order_line.product.id }}">
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>

                    <p>
                        <span>Total: {{ order.end_user_price }} $</span>
                    </p>

                    <div class="trans02s">
                        <input id='update_cart' type="submit" value="Update order" class="btn-add btn-add-primary text-uppercase"></input>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

{% load static %}
<script src="{% static 'glyke_back/js/cart.js' %}"></script>

{% endblock %}