<!doctype html>
<html lang="en">
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.0/css/all.css">

    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
            integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
            crossorigin="anonymous">
    </script>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'glyke_back/css/my_style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'glyke_back/css/profile_style.css' %}"/>
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'glyke_back/css/old_styles.css' %}"/> -->
    <link rel="stylesheet" type="text/css" href="{% static 'glyke_back/css/add_edit_product.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'glyke_back/css/category_colors.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'glyke_back/css/cart_panel.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'glyke_back/favicon.ico' %}"/>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.3.3/dist/jBox.all.min.js"></script>
    <link href="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.3.3/dist/jBox.all.min.css" rel="stylesheet">

    {% block additional_head %}
    {% endblock %}

    <title>
        {% block title %}
            Base
        {% endblock %}
    </title>
</head>

<body>
    {% block header %}
        {% include "glyke_header.html" %}
    {% endblock %}

    <div class="content">
        {% block content %}
            CONTENT PLACEHOLDER
        {% endblock %}
    </div>

    {% block footer %}
        {% include "glyke_footer.html" %}
    {% endblock %}

    {% load static %}
    <script src="{% static 'glyke_back/js/main.js' %}"></script>

</body>

</html>