<header>
    {% if user.is_authenticated %}
        <div id="profile_pannel_dropdown">
            <a href="{% url 'products_staff' %}">{% if user.first_name %}{{user.first_name}} {% if user.last_name %}{{user.last_name}}{% endif %}{% else %}{{user.username}}{% endif %}</a>
            
            {% block cart_panel %}
                {% include "cart_panel.html" %}
            {% endblock %}
        </div>
        <nav id="profile_pannel" >
            <div class="profile-menu">
            <button type="button" id="profile_pannel_collapse" class="btn btn-primary">
                <i class="fas fa-{% if not user.is_staff %}user-circle{% elif user.is_superuser %}robot{% else %}id-card{% endif %}"></i>
                <span class="sr-only">Toggle profile menu</span>
            </button>
            </div>
            <ul class="list-unstyled components mb-5">
            <li>
                <a href="https://kirillperesh.github.io/page_resume/"><span class="fas fa-id-badge mr-3"></span>Portfolio</a>
            </li>
            <li>
                <a href="{% url 'products' %}"><span class="fas fa-clone mr-3"></span>Products</a>
            </li>
            <li>
                <a href="{% url 'add_product' %}"><span class="fas fa-clone mr-3"></span>Add product</a>
            </li>
            <!-- <li>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><span class="fas fa-microphone-alt mr-3"></span>Get rolled</a>
            </li> -->
            <li>
                <a href="{% url 'logout'%}"><span class="fas fa-times mr-3"></span>Log out</a>
            </li>
            </ul>
        </nav>

    {% else %}
        <div id="profile_pannel_dropdown">
            <a href="{% url 'sign_in'%}">Log In</a>
        </div>
        <nav id="profile_pannel" >
            <div class="profile-menu">
            <button type="button" class="btn btn-primary" disabled>
                <i class="fas fa-user-secret"></i>
            </button>
            </div>
        </nav>
    {% endif %}
</header>