{% extends 'glyke_base.html' %}


{% block title %} {{ product.name }} {% endblock %}

{% block additional_head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'glyke_back/css/product_details.css' %}"/>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
      <div class="tm-bg-primary-dark tm-block tm-block-h-auto {% if not product.is_active %}deleted-product-bg{% endif %}">
        {% if not product.is_active %}
            <div class="is-active-status">DELETED</div>
        {% endif %}
        <div class="row">
          <div class="col-12">
            <h2 class="tm-block-title d-inline-block details-name">{{ product.name }}</h2>
          </div>
          <a href="">
          <div class="details-category-container bg-{% if product.category.bg_color %}{{ product.category.bg_color }}{% else %}default{% endif %}">
              <span class="details-category ">{{ product.category }}</span>
          </div></a>
          {% if request.user.is_staff %}
            <div class="product-btn-container">
              <a href="{% url 'edit_product' id=product.id %}">
                <button type="button" class="product-btn product-btn-edit"><i class="fas fa-edit"></i></button>
              </a>
            </div>
          {% endif %}
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="details-active-photo-container">
                    <a id='active_photo_id' href="{{ product.main_photo.image.url }}">
                        <img id='active_photo_img' src="{{ product.main_photo.image.url }}" class="details-active-photo">
                    </a>
                </div>
                <div class="details-other-photos-container">
                    {% for photo in product.photos.photos.all %}
                    <a href="{{ photo.image.url }}">
                        <img onmouseover="update_active_photo(event, '{{photo.image.url}}')" src="{{ photo.get_display_url }}" alt="{{photo.title}}" class="details-other-photo trans02s">
                        {% endfor %}
                    </a>
                </div>
            </div>


            <div class="col-xl-6 col-lg-6 col-md-12">
                pew pew

            </div>
        </div>








      </div>
    </div>
  </div>


<script src="{% static 'glyke_back/js/product_details.js' %}"></script>


{% endblock %}