{% extends 'glyke_base.html' %}
{% block title %} Products for staff {% endblock %}

{% block additional_head %}
<!-- DataTables CDN -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.colVis.min.js"></script>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'glyke_back/css/products_staff.css' %}"/>

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
      <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
        <div class="row">
          <div class="col-12">
            <h2 class="tm-block-title d-inline-block details-name">Products</h2>
          </div>

          <div class="col-12">
            <table id="products_staff_table" class="display cell-border">
              <thead id="products_staff_thead">
                  <tr>
                    <th class="col-50p-f">ID</th>
                    <th class="col-150p-f">Name</th>
                    <th class="col-100p-f">Category</th>
                    <th class="col-65p-f">Tags</th>
                    <th class="col-185p-m">Description</th>
                    <th class="col-65p-f">Cost price</th>
                    <th class="col-65p-f">Selling price</th>
                    <th class="col-50p-f">Discount, %</th>
                    <th class="col-65p-f">End user price</th>
                    <th class="col-65p-f">Profit</th>
                    <th class="col-50p-f">Stock</th>
                    <th class="col-65p-f">Active</th>
                    <th class="col-185p-m">Photos</th>
                    <th class="col-100p-f">Created</th>
                  </tr>
              </thead>
              <tbody>
                {% for product in products %}
                  <tr {% if not product.is_active %} class="product-staff-deleted" {% endif %}>
                    <td class="col-50p-f">{{ product.id }}</td>
                    <td class="col-150p-f">
                      {{ product.name }}
                      <div class="product-btn-container">
                        <a href="{% url 'edit_product' id=product.id %}"><button type="button" class="product-btn product-btn-edit"><i class="fas fa-edit"></i></button></a>
                        <a href="{% url 'product_details' id=product.id %}"><button type="button" class="product-btn product-btn-edit"><i class="fas fa-store"></i></button></a>
                      </div>
                    </td>
                    <td class="col-100p-f">{{ product.category }}</td>
                    <td class="col-65-f">
                      {% for tag in product.tags.all %}
                        {{ tag }}
                        {% if tag != product.tags.all.last %}, {% endif %}
                      {% endfor %}
                    </td>
                    <td class="col-185p-m"><div>{{ product.description }}</div></td>
                    <td class="col-65p-f">$ {{ product.cost_price }}</td>
                    <td class="col-65p-f">$ {{ product.selling_price }}</td>
                    <td class="col-50p-f">{{ product.discount_percent }} %</td>
                    <td class="col-65p-f">$ {{ product.end_user_price }}</td>
                    <td class="col-65p-f">$ {{ product.profit }}</td>
                    <td class="col-50p-f">{{ product.stock }}</td>
                    {% if product.is_active %} <td class="col-65p-f product-color-active">ACTIVE</td>
                    {% else %} <td class="col-65p-f product-color-deleted">DELETED</td>
                    {% endif %}
                    <td class="col-185p-m image-container">
                      <span>
                        {% for photo in product.photos.photos.all %}
                        <a href="{{ photo.image.url }}"><img class="trans02s" src="{{ photo.get_thumbnail_url }}" alt=""></a>
                        {% endfor %}
                      </span>
                    </td>
                    <td class="col-100p-f">{{ product.created }}<br>by {{ product.created_by }}</td>
                  </tr>
                {% endfor %}
              </tbody>

        <tfoot>
          <tr>
            <th class="col-50p-f col-filter hidden">ID</th>
            <th class="col-150p-f col-filter hidden">Name</th>
            <th class="col-100p-f col-filter">Category</th>
            <th class="col-65p-f col-filter hidden">Tags</th>
            <th class="col-185p-m col-filter hidden">Description</th>
            <th class="col-65p-f col-filter">Cost price</th>
            <th class="col-65p-f col-filter">Selling price</th>
            <th class="col-50p-f col-filter">Discount, %</th>
            <th class="col-65p-f col-filter">End user price</th>
            <th class="col-65p-f col-filter">Profit</th>
            <th class="col-65p-f col-filter">Active</th>
            <th class="col-185p-m col-filter hidden">Photos</th>
            <th class="col-100p-f col-filter">Created</th>
          </tr>
      </tfoot>
            </table>
          </div>
        </div>


<script src="{% static 'glyke_back/js/products_staff_datatables.js' %}"></script>
{% endblock %}