{% extends 'glyke_base.html' %}

{% block additional_head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'glyke_back/css/products.css' %}"/>

<!-- additional template tags -->
{% load glyke_back_extras %}
{% endblock %}

{% block title %} Products {% endblock %}

{% block content %}
    <section class="u-align-center u-clearfix u-palette-5-dark-3 u-section-2" id="sec-76b6">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 class="u-text u-text-default u-text-1">Catalogue</h1>
        <h5 class="u-text u-text-default u-text-2">Handcrafted little pieces of art</h5>

        <select id="select_category" name="select_category" onchange="location = this.value;" selected>
          <option value="{% url 'products'%}?{{ request.GET.urlencode|remove_all_occ_url_param:'category' }}"{% if 'category=' not in request.GET.urlencode %} selected {% endif %}>
            Any category
          </option>
          {% for category in top_lvl_categories %}
            <option value="{% url 'products'%}?{{ request.GET.urlencode|remove_all_occ_url_param:'category' }}&category={{ category }}"
            {% if 'category='|append_url_param_value:category in request.GET.urlencode %} selected {% endif %}>
              {{ category }}
            </option>
            {% if category.child_categories %}
            {% else %}
            {% endif %}


          {% endfor %}
          <!-- {% for category in sub_categories %}
            <option value="{% url 'products'%}?{{ request.GET.urlencode|remove_all_occ_url_param:'category' }}&category={{ category }}"
            {% if 'category='|append_url_param_value:category in request.GET.urlencode %} selected {% endif %}>
              {{ category }}
            </option>
          {% endfor %} -->
        </select>

        {% for tag in tag_filters %}
          <div>
            {{ tag }}
            {% with 'tag='|append_url_param_value:tag as tag_param %}
              <a href="{% url 'products'%}?{{ request.GET.urlencode|remove_all_occ_url_param:tag_param }}">remove {{ tag }}</a>
            {% endwith %}
          </div>
        {% endfor %}


        <div class="u-list u-repeater u-list-1">
          {% for product in products %}
            <div class="u-align-center-md u-align-center-sm u-align-center-xl u-align-center-xs u-container-style u-list-item u-repeater-item u-video-cover u-list-item-1">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <a href="{% url 'product_details' id=product.id %}">
                <img src="{% if product.main_photo %}{{ product.main_photo.image.url }}{% else %}{{ no_image_url }}{% endif %}" alt="{{product.name}} main photo" class="u-expanded-width u-image u-image-1">
                </a>
                {% if request.user.is_staff %}
                  <div class="product-btn-container">
                    <a href="{% url 'edit_product' id=product.id %}">
                      <button type="button" class="product-btn product-btn-edit"><i class="fas fa-edit"></i></button>
                    </a>
                  </div>
                {% endif %}
                <div class="other-photos-container">
                  {% for photo in product.photos.photos.all %}
                    {% if photo != product.main_photo and forloop.counter <= 4 %}
                      <a href="{{ photo.image.url }}">
                        <img src="{{ photo.get_display_url }}" alt="{{ photo.title }}" class="other-photo trans02s">
                      </a>
                    {% endif %}
                  {% endfor %}
                </div>
                <div class="u-align-center u-container-style u-group u-opacity u-opacity-85 u-group-1 bg-{% if product.category.bg_color %}{{ product.category.bg_color }}{% else %}default{% endif %}">
                  <div class="u-container-layout u-valign-middle u-container-layout-2">
                    <h2 class="u-align-center u-custom-font u-text u-text-3 product-name">{{ product.name }}</h2>
                    <a href="{% url 'products'%}?{{ request.GET.urlencode|remove_all_occ_url_param:'category' }}&category={{ product.category }}"><span class="product-namebox-bottom-category">{{ product.category }}</span></a>
                  </div>
                </div>
                <div>
                    <span class="u-text-tags product-tags">
                        {% for tag in product.tags.all %}
                            {% with 'tag='|append_url_param_value:tag as tag_param %}
                                {% if tag_param not in request.GET.urlencode %}
                                    <a href="{% url 'products'%}?{{ request.GET.urlencode|remove_all_occ_url_param:'page' }}&{{ tag_param }}">{{ tag }}</a>{% else %}{{ tag }}{% endif %}{% if tag != product.tags.all.last %}, {% endif %}
                            {% endwith %}
                        {% endfor %}
                    </span>
                </div>
                {% if product.description %}
                  <p class="u-align-center-lg u-text u-text-default product-desc">{{ product.description }}</p>
                {% endif %}
                <span>
                  {% if product.discount_percent %}
                    <span class="product-discount discount-old-price">&nbsp;${{product.selling_price}}&nbsp;</span>
                  {% endif %}
                  <span class="product-selling-price">$ {{product.end_user_price}}</span>
                  {% if product.discount_percent %}
                    <span class="product-discount discount-percent">{{product.discount_percent}}% OFF</span>
                  {% endif %}
                </span>
                {% if product.stock > 0 %}
                  <form action="{% url 'add_to_cart' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.get_full_path }}">
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <button type="submit" class="u-btn u-button-style add-to-cart-btn u-btn-1">add to cart</button>
                  </form>
                {% else %}
                  <button class="u-btn u-button-style add-to-cart-btn-out u-btn-1" disabled>out of stock</button>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

{% load static %}
<script src="{% static 'glyke_back/js/products.js' %}"></script>

  {% block pagination %}
    {% include "pagination.html" %}
  {% endblock %}
{% endblock %}
