{% extends 'glyke_base.html' %}


{% block title %} Profile page {% endblock %}

{% block additional_head %}
{% load static %}

<!-- <link rel="stylesheet" type="text/css" href="{% static 'glyke_back/css/cart.css' %}"/> -->
<link rel="stylesheet" type="text/css" href="{% static 'glyke_back/css/profile.css' %}"/>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
        <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
                <div class="col-12 profile-welcome">
                    <h2 class="welcome-header">Hey, {% if user.first_name %}{{user.first_name}} {% if user.last_name %}{{user.last_name}}{% endif %}{% else %}{{user.username}}{% endif %}!</h2>
                    <h5 class="welcome-text">On this page you can check your orders history and change your profile settings</h5>
                </div>
            </div>
            <div class="row" id="profile-main-row">
                <div class="col-xl-6 orders-col">
                    <header id="orders-header">
                        <div class="orders-container">
                            <h1>Your orders</h1>
                        </div>
                    </header>
                    <div class="accordion">
                        {% for order_status_short, grouped_orders in orders_grouped_by_status.items %}
                            {% if grouped_orders %}
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading_{{order_status_short}}">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{order_status_short}}" aria-expanded="false" aria-controls="collapse_{{order_status_short}}">
                                            <span> {{grouped_orders.first.get_status_display}}</span>
                                        </button>
                                    </h2>
                                    <div id="collapse_{{order_status_short}}" class="accordion-collapse collapse" aria-labelledby="heading_{{order_status_short}}">
                                        <div class="accordion-body">
                                            <div class="accordion">
                                                {% for order in grouped_orders %}
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="heading_{{order.id}}">
                                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{order.id}}" aria-expanded="false" aria-controls="collapse_{{order.id}}">
                                                                <div class="order-container">
                                                                    <div class="order-left">
                                                                        <span class="desc">{{order.items_total}} items <span class="separator">|</span> {{ order.end_user_price }} <span class="dlr-sign">$</span></span><br>
                                                                        <span class="desc desc-bottom fs-13px">[ {{ order.order_lines.count}} products ]<br>
                                                                    </div>
                                                                    <div class="order-right fs-13px">
                                                                        <span class="number"># {{ order.number }}</span><br>
                                                                        <span>{{ order.created }}</span><br>
                                                                        {% if not order.created == order.modified %}
                                                                        <span>{{ order.modified }}<span class="edited-tag"> [ edited ]</span></span>
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                            </button>
                                                        </h2>
                                                        <div id="collapse_{{order.id}}" class="accordion-collapse collapse" aria-labelledby="heading_{{order.id}}">
                                                            <div class="accordion-body">
                                                                {% if not order.order_lines.all %}
                                                                    <span>This order is empty</span>
                                                                {% else %}
                                                                    <table>
                                                                        <thead>
                                                                            <tr>
                                                                                <th>#</th>
                                                                                <th>Product</th>
                                                                                <th>Initial price</th>
                                                                                <th>Discount</th>
                                                                                <th>Price</th>
                                                                                <th>Quantity</th>
                                                                                <th>Total per position</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for order_line in order.order_lines.all %}
                                                                                <tr>
                                                                                    <td>{{order_line.line_number}}</td>
                                                                                    <td>
                                                                                        <a href="{% url 'product_details' id=order_line.product.id %}">{{order_line.product.name}}</a>
                                                                                    </td>
                                                                                    <td>{{order_line.product.selling_price}}</td>
                                                                                    <td>{{order_line.product.discount_percent}}</td>
                                                                                    <td>{{order_line.product.end_user_price}}</td>
                                                                                    <td>{{order_line.quantity}}</td>
                                                                                    <td>{{order_line.end_user_price}}</td>
                                                                                </tr>
                                                                            {% endfor %}
                                                                        </tbody>
                                                                    </table>
                                                                    <div>
                                                                        <span>Total: </span>
                                                                        <span>{{ order.end_user_price }}</span>
                                                                    </div>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>


                <div class="col-xl-6 right-side-col">
                    <div id="change-password-header" class="right-side-header">
                        <div class="accordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading_password_change">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_password_change" aria-expanded="false" aria-controls="collapse_password_change">
                                        <div class="header-text">
                                            Change your password
                                        </div>
                                    </button>
                                </h2>
                                <div>
                                    {% if password_change_form.errors %}
                                        <div class="password-change-errors">
                                            {% for field in password_change_form %}
                                                <span>
                                                    {{ field.errors }}
                                                </span>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div id="collapse_password_change" class="accordion-collapse collapse" aria-labelledby="heading_password_change">
                                    <div class="accordion-body">
                                        <form class="change-password-form" role="form" action="" method="post">
                                            {% csrf_token %}
                                            {% for field in password_change_form %}
                                                <p>{{ field }}</p>
                                            {% endfor %}
                                            <input type="submit" value="Change password">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div id="placeholder1-header" class="right-side-header">
                        <div class="accordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading_placeholder1">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_placeholder1" aria-expanded="false" aria-controls="collapse_placeholder1">
                                        <div class="header-text">
                                            Change your username
                                        </div>
                                    </button>
                                </h2>
                                <div id="collapse_placeholder1" class="accordion-collapse collapse" aria-labelledby="heading_pplaceholder1">
                                    <div class="accordion-body">
                                        <div>
                                            add a form here
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="placeholder2-header" class="right-side-header">
                        <div class="accordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading_placeholder2">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_placeholder2" aria-expanded="false" aria-controls="collapse_placeholder2">
                                        <div class="header-text">
                                            And another feature placeholder
                                        </div>
                                    </button>
                                </h2>
                                <div id="collapse_placeholder2" class="accordion-collapse collapse" aria-labelledby="heading_pplaceholder2">
                                    <div class="accordion-body">
                                        <div>
                                            some other stuff
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>



            </div>
        </div>
    </div>
</div>


{% endblock %}

<!-- TODO customize password change form -->